<ion-header>

  <ion-navbar>
    <ion-title>Shopping</ion-title>

    <ion-buttons end>
      <button class="notification-button" ion-button icon-only color="dark" (click)="showCart()">
        <ion-icon name="cart">
          <ion-badge *ngIf="cartCount > 0" class="notifications-badge" color="positive">{{cartCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <ion-grid style="padding: 5vh 10vw">

    <ion-row>

      <ion-col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 *ngFor="let product of currentProducts">

        <ion-card style="min-width: 250px" >
          <!--<ion-card-content>-->
          <img src="assets/img/product-placeholder.png" />
          <div class="card-title"> {{product.name}}</div>
          <div class="card-subtitle">{{product.details}}</div>
          <div class="card-price">${{product.price}}</div>
          <!--</ion-card-content>-->
          <ion-row no-padding>
            <ion-col>
              <button style="float:left" ion-button clear small color="dark" icon-start (click)="fav(product)">
          <ion-icon *ngIf="!product.fav" name='star-outline'></ion-icon>
          <ion-icon *ngIf="product.fav" name='star'></ion-icon>
          Fav
        </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button small clear color="positive" icon-start (click)="addToCart(product)">
          <!--<ion-icon name='basket'></ion-icon>-->
          <strong>Add</strong>
        </button>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
